src/main/mule/mule-cicd-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="local_listner" doc:name="HTTP Listener config" doc:id="9e62ab34-c301-4618-b0a4-4ae9913960e5" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mule-cicd-testFlow" doc:id="4b4c24de-428d-44ed-8903-125344a366cf" >
		<http:listener doc:name="Listener" doc:id="226703da-f28a-467b-b0bd-833995028e49" config-ref="local_listner" path="/showvariables"/>
		<set-variable value="${cloudhub.username}" doc:name="Mule home variable" doc:id="ff914de1-0b53-4b77-a6de-c89268e2f7d4" variableName="homeVar"/>
		<set-payload value="TEST" doc:name="Set Payload" doc:id="9b52c0dc-65d5-4b2c-ba02-5a8355d15fcb" />
		<logger level="INFO" doc:name="Logger" doc:id="de0688bc-756d-42a9-ab2c-6d6f889ed5d7" message="#[vars.homeVar]"/>
	</flow>
</mule>
